/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
  }
  
  a {
	color: #ffc451;
	text-decoration: none;
  }
  
  a:hover {
	color: #ffd584;
	text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
  }

  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
	[data-aos-delay] {
	  transition-delay: 0 !important;
	}
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header1 {
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
  }
  #header1.header1-scrolled, #header1.header1-inner-pages {
	background: rgb(6, 0, 32);
  }
  #header1 .logo {
	font-size: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
  }
  #header1 .logo a {
	color: #fff;
  }
  #header1 .logo a span {
	color: #ffc451;
  }
  #header1 .logo img {
	max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  #navbar1 Desktop
  --------------------------------------------------------------*/
  .navbar1 {
	padding: 0;
  }
  .navbar1 ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
  }
  .navbar1 li {
	position: relative;
  }
  .navbar1 a, .navbar1 a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
	transition: 0.3s;
  }
  .navbar1 a i, .navbar1 a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
  }
  .navbar1 a:hover, .navbar1 .active, .navbar1 .active:focus, .navbar1 li:hover > a {
	color: #ffc451;
  }
  .navbar1 .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
  }
  .navbar1 .dropdown ul li {
	min-width: 200px;
  }
  .navbar1 .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	color: #151515;
	font-weight: 400;
  }
  .navbar1 .dropdown ul a i {
	font-size: 12px;
  }
  .navbar1 .dropdown ul a:hover, .navbar1 .dropdown ul .active:hover, .navbar1 .dropdown ul li:hover > a {
	background-color: #ffc451;
  }
  .navbar1 .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  .navbar1 .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
  }
  .navbar1 .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
  }
  @media (max-width: 1366px) {
	.navbar1 .dropdown .dropdown ul {
	  left: -90%;
	}
	.navbar1 .dropdown .dropdown:hover > ul {
	  left: -100%;
	}
  }
  
  /*--------------------------------------------------------------
  #navbar1 Mobile
  --------------------------------------------------------------*/
  .mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
  }
  
  @media (max-width: 991px) {
	.mobile-nav-toggle {
	  display: block;
	}
  
	.navbar1 ul {
	  display: none;
	}
  }
  .navbar1-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
  }
  .navbar1-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
  }
  .navbar1-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
  }
  .navbar1-mobile a, .navbar1-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #151515;
  }
  .navbar1-mobile a:hover, .navbar1-mobile .active, .navbar1-mobile li:hover > a {
	color: #151515;
	background-color: #ffc451;
  }
  .navbar1-mobile .getstarted, .navbar1-mobile .getstarted:focus {
	margin: 15px;
  }
  .navbar1-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar1-mobile .dropdown ul li {
	min-width: 200px;
  }
  .navbar1-mobile .dropdown ul a {
	padding: 10px 20px;
	color: #151515;
  }
  .navbar1-mobile .dropdown ul a i {
	font-size: 12px;
  }
  .navbar1-mobile .dropdown ul a:hover, .navbar1-mobile .dropdown ul .active:hover, .navbar1-mobile .dropdown ul li:hover > a {
	background-color: #ffc451;
  }
  .navbar1-mobile .dropdown > .dropdown-active {
	display: block;
  }

  /*--------------------------------------------------------------
  # breadcrumbs1
  --------------------------------------------------------------*/
  .breadcrumbs1 {
	padding: 7px 0;
	background: whitesmoke;
	min-height: 40px;
	margin-top: 74px;
  }
  .breadcrumbs1 h2 {
	font-size: 28px;
	font-weight: 400;
  }
  .breadcrumbs1 ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .breadcrumbs1 ol li + li {
	padding-left: 10px;
  }
  .breadcrumbs1 ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #2f2f2f;
	content: "/";
  }
  @media (max-width: 992px) {
	.breadcrumbs1 {
	  margin-top: 68px;
	}
	.breadcrumbs1 .d-flex {
	  display: block !important;
	}
	.breadcrumbs1 ol {
	  display: block;
	}
	.breadcrumbs1 ol li {
	  display: inline-block;
	}
  }
 
  /*--------------------------------------------------------------
  # input
  --------------------------------------------------------------*/
  .input-field-border-bottom {
	border: 1px solid #ddd;
	box-shadow: 0 3px 15px #888888;
	display: inline-block;
	padding: 2em; 
	margin-bottom:50px;
	height: 980px;
	width: 800px;
}
  .input-field-border-bottom label {
	color: #444444; 
	display: block;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin-bottom: 10px;
	margin-top: 3px;
	font-family: "Raleway";
}

  .input-field-border-bottom input[type="text"],
  .input-field-border-bottom textarea {
	border: none;
	border-bottom: 2px solid #ddd;
	color: #333;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 0.5em 1em 0.5em 0;
	width: 700px;     /* Ukuran bebas */
}

.input-field-border-bottom input[type="text1"],
  .input-field-border-bottom textarea {
	border: none;
	border-bottom: 2px solid #ddd;
	color: #333;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 0.5em 1em 0.5em 0;
	width: 200px;     /* Ukuran bebas */
}

.input-field-border-bottom input[type="date"],
  .input-field-border-bottom textarea {
	border: none;
	border-bottom: 2px solid #ddd;
	color: #333;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 0.5em 1em 0.5em 0;
	width: 325px;     /* Ukuran bebas */
}


  .input-field-border-bottom input[type="text"]:focus,
  .input-field-border-bottom textarea:focus {
	border-bottom: 2px solid #444444; 
	outline: none;
}

.input-field-border-bottom input[type="text1"]:focus,
  .input-field-border-bottom textarea:focus {
	border-bottom: 2px solid #444444; 
	outline: none;
}

.input-field-border-bottom input[type="date"]:focus,
  .input-field-border-bottom textarea:focus {
	border-bottom: 2px solid #444444; 
	outline: none;
}


::-webkit-input-placeholder {
	text-align: left;
  }
  
  :-moz-placeholder {
	text-align: center;
  }
  
  input:focus::-webkit-input-placeholder {
	opacity: 0;
  }
  
  input:focus::-moz-placeholder {
   opacity: 0;
  }
  
  input:focus:-ms-input-placeholder {
	opacity: 0;
  }
  
  input:focus:-moz-placeholder {
   opacity: 0;
  }

  /*--------------------------------------------------------------
  # Footer1
  --------------------------------------------------------------*/
  #footer1 {
	font-size: 14px;
	text-align: center;
	width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #03010c;
    color: #fff;
  }


